<div class="row footer">
    <div class="col-md-12">
        <div class="row content">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd_iHdWF2hMxpxAcO53XRdgPUyXeNe725u8IR7zTz0LRLL_hQ/viewform?embedded=true" width="100%" class="iframe" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                <div class="row">
                    <div class="col-md-5 col-xs-12 col-sm-12 col-lg-5">
                        <a target="_blank" href="https://www.facebook.com/pages/category/Sports-Club/Chennai-Cubing-Club-234846540543293/">
                            <h1 class="jumbotron facebook card-1">Facebook <br><i class="fab fa-facebook"></i></h1>
                        </a>
                    </div>
                    <div class="col-md-5 col-xs-12 col-sm-12 col-lg-5">
                        <a target="_blank" href="https://www.instagram.com/chennai_cubing_club/">
                            <h1 class="jumbotron instagram card-1">Instagram <br><i class="fab fa-instagram"></i></h1>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xs-12 col-sm-12 col-lg-5">
                        <a target="_blank" href="mailto:chennaicubingclub@gmail.com">
                            <h1 class="jumbotron google card-1">Google / Gmail<br><i class="fab fa-google"></i></h1>
                        </a>
                    </div>
                    <div class="col-md-5 col-xs-12 col-sm-12 col-lg-5">
                        <a target="_blank" href="https://www.youtube.com/channel/UC2Okr1mK5R4vTeGgsPeG5vA">
                            <h1 class="jumbotron youtube card-1">Youtube<br><i class="fab fa-youtube"></i></h1>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xs-12 col-sm-12 col-lg-5">
                        <a target="_blank" href="https://forms.gle/v6QDkTrgUnhimGC76">
                            <h1 class="jumbotron card-1">Join us as a member</h1>
                        </a>
                    </div>
                    <div class="col-md-5 col-xs-12 col-sm-12 col-lg-5">
                        <a target="_blank" href="http://thabares.github.io">
                            <h1 class="jumbotron card-1">Contact Developer</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>