<div>
  <img width="100%" src="https://i.ibb.co/bBxZyx7/Nats-2020-Banner-HR.jpg" />

  <div class="container">
    <img
      class="sub-banner"
      width="100%"
      height="80%"
      style="margin-top: 40px;"
      src="https://i.ibb.co/N6rqmBr/CU.jpg"
      alt="Cubing"
    />

    <h2 style="margin-top: 40px;" class="text-center">
      Cancellation of Indian Nationals 2020
    </h2>
    <hr width="400px" />
    <div class="text-content">
      <p>
        In light of the current situation regarding COVID-19 both in India as
        well as around the world, it is with great regret that we inform you
        that Indian Nationals 2020 stands <b>CANCELLED</b>.
      </p>
      <br />
      <p>
        All fee paid towards Competition registration, Accommodation, and
        Merchandise will be refunded 100% <b>EXCLUDING</b>
        the Payment Gateway charges and refunds will be processed shortly.
      </p>
      <br />
      <p>
        We would like to thank the WCA Delegates, Sponsors, and the cubing
        community for supporting us this far.
      </p>
      <br />
      <div style="margin-bottom: 40px;">
        Until next time!<br />
        Anbuden,<br />
        Team Nats'20<br />
      </div>
    </div>
  </div>
</div>
