#website
# compiled output
website/dist
website/tmp
website/out-tsc
# Only exists if Bazel was run
website/bazel-out

# dependencies
website/node_modules

# profiling files
website/chrome-profiler-events*.json
website/speed-measure-plugin*.json

# misc
website/.sass-cache
website/connect.lock
website/coverage
website/libpeerconnection.log
website/npm-debug.log
website/yarn-error.log
website/testem.log
website/typings

#server
server/src/main/resources/application-*.properties
server/src/main/resources/hibernate.cfg.xml
server/HELP.md
server/target/
!.server/mvn/wrapper/maven-wrapper.jar
!**server/src/main/**
!**server/src/test/**

### STS ###
server/.apt_generated
server/.classpath
server/.factorypath
server/.project
server/.settings
server/.springBeans
server/.sts4-cache

# System Files
.DS_Store
Thumbs.db
