<br>
<div class="alert alert-danger alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>We cannot have donations as we aren’t registered in govt. </strong>
</div>
<ul class="list-group">
    <li class="list-group-item">
<div class="row card-1">
    <div class="col-md-3">
        <i class="fas fa-hands-helping fa-5x"><h1>Sponsorship</h1></i>
    </div>
    <div class="col-md-6">
        <p class="text-justify">
            Speedcubing competition will be a great place with minimum investment and maximum reach for Sponsors. 
            Rubik’s Cubes and Speedcubing are now more popular than ever before. More and more speedcubers are 
            regularly taking part in competitions in and outside their India. Which means that speedcubing is 
            getting more and more attention and is becoming more visible. That makes it increasingly interesting 
            for companies to sponsor competitions and/or participants. This will create great exposure and have a 
            positive influence for and on your company/organization.
        </p>
    </div>
</div>
</li>
<li class="list-group-item">
<div class="row card-1">
    <div class="col-md-3">
        <strong>Who will be present in a speedcubing competition?</strong>
    </div>
    <div class="col-md-6">
            Right from school going kids to college-goers to young working professionals actively compete. 
            If your business is focused on school/college students or youth, then speedcubing competitions are 
            the best places for you to be at.<br><br> A lot of parents - Doctors, Lawyers, Business owners, Engineers; 
            Our parents are from all walks of life. They come along with their kids and encourage them to participate. 
            If your business is focused on an older set of people than children and youth, you have got that here as well.<br><br>
            To sum up, a speedcubing competition is a place with an amazing mixture of people from different walks 
            and stages of life, so, you find your right crowd anyway!

    </div>
</div>
</li>
<br>
<li class="list-group-item">
<div class="row card-1">
    <div class="col-md-3">
        <strong>Sales position - </strong>
    </div>
    <div class="col-md-6">
            For most competitions, a sales stand is possible. You will get a table in a suited place for yourself. 
            Before the competition, we will inform the participants about your presence via the website and email. 
            If required, we can place a price list and your contact details on the website in advance. 
            The sponsor can distribute brochures and interact with the audience. Even a small space in a vital 
            place can grow a business like anything.
    </div>
</div>
</li>
<br>
<li class="list-group-item">
<div class="row card-1">
    <div class="col-md-3">
        <strong>Competition sponsorship - </strong>
    </div>
    <div class="col-md-6">
            You can also choose to sponsor a specific competition. 
            This can be in the form of a financial contribution or prizes for the competition. 
            Or you can even think of a location to host a competition. How would it be if there were 100’s 
            of enthusiastic competitors and an audience in your business place? Epic, wouldn't it be?
            <br><br>
    </div>
</div>
</li>
</ul>