<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
        <div class="card card-1">
            <h3 class="card-header bg-info text-white">
                A C³ Competition
            </h3>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item list-size text-justify">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/8lpa1yV0mkc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 d-flex align-items-stretch">
            <div class="card card-1">
                <h3 class="card-header bg-info text-white">
                    Who are we?
                </h3>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item text-justify">
                            We all have heard of Rubik's Cube. There is this competitive sport built around this puzzle known
                             as Speedcubing. The World Cube Association (WCA) is the official world-wide body organizing 
                             standardized speedcubing competitions. The WCA approves regional organizations to carry out the
                              same in specific regions. We are the official Speedcubing club of Tamil Nadu.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
<br>
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
        <div class="card card-1">
            <h3 class="card-header bg-info text-white">
                Why we exist?
            </h3>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item text-justify">
                        We, Chennai Cubing Club, are here to increase the number and quality of competitions by uniting all the 
                        separate organization entities and make our state the best place to attend a Speedcubing competition.
                        We are here to share everything about this amazing mental sport of  Speedcubing to those of you who are yet to have experienced 
                        what it is like to do something that exercises both the  jock and the nerd sides that you possess!
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
        <div class="card card-1">
            <h3 class="card-header bg-info text-white">
                Why should you be a part of us?
            </h3>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item text-justify">
                        This is the place where you can get to know about every competition or workshop that will take place all around Tamil Nadu.
                        Also, if you have just discovered about the Speedcubing movement and are exploring ways to understand and learn to solve a Rubik's Cube,
                        Congratulations; you have reached the right place to start your Speedcubing journey! Just hang on to us, we will take care of the rest.
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a href routerLink="/contact" class="btn btn-dark">Contact Us</a>
            </div>
        </div>
    </div>
</div>