<div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                <!-- <table class="table table-sm table-striped table-hover table-condensed upcoming">
                    <thead>
                        <tr>
                            <th colspan="5" class="text-center">Upcoming Competitions</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Competition name</th>
                            <th>Venue details</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let upcoming of upcoming">
                        <tr>
                            <td class="table-data"><i class="fas fa-hourglass-start"></i></td>
                            <td class="table-data">{{upcoming.date}}</td>
                            <td class="table-data"><a class="text-danger" target="_blank" [href]="upcoming.site">{{upcoming.name}}</a></td>
                            <td class="table-data">{{upcoming.venue}}</td>
                            <td class="table-data">{{upcoming.location}}</td>
                        </tr>
                    </tbody>
                </table> -->
                <table class="table table-sm table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th colspan="5" class="text-center">Past Competitions</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Competition name</th>
                            <th>Venue details</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let past of pastcomp">
                        <tr>
                            <td class="table-data"><i class="fa fa-check-circle"></i></td>
                            <td class="table-data">{{past.date}}</td>
                            <td class="table-data"><a class="text-danger" target="_blank" [href]="past.site">{{past.name}}</a></td>
                            <td class="table-data">{{past.venue}}</td>
                            <td class="table-data">{{past.location}}</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>