<div class="container">
        <h1 class="jumbotron text-center">Team C<sup>3</sup></h1>
    <div class="card">
        <div class="card-header text-justify">
            <h3>
                The C<sup>3</sup> core team is responsible for leading the organization as a whole, 
                and fulfilling all duties as lead management. The core team comprises of the following members.

           </h3>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Adithyaa Anand</li>
                    <li class="list-group-item">Daniel James</li>
                    <li class="list-group-item">Sachin Arvind</li>
                    <li class="list-group-item">Saravanan Gowthaman</li>
                </ul>
            </div>
        </div>
    </div>
</div>